script(src="javascripts/libs/jquery.js")
script(src="javascripts/libs/underscore.js")
script(src="javascripts/libs/backbone.js")
script(src="javascripts/libs/bootstrap.js")
script(src="javascripts/libs/backbone.localStorage.js")
script(src="javascripts/jst-template-jade.js")
script(src="javascripts/main.js")
